.wrapper {
  height: 100% !important;
  min-height: 100% !important;
  position: relative;
  overflow: hidden;
}
a {
  color: black;
  text-decoration: none !important;
}
a  hover {
  text-decoration: none;
  color: blanchedalmond !important;
}

.card img{
  max-height: 220px;
  min-height: 220px ;
  background-color:beige;
}
.Pagination{
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.card-body {
  flex: 1 1 auto;
  max-height: 200px; 
  min-height: 200px;
  padding: 1.25rem;
}
